 
body {
    background:
    linear-gradient(
      rgba(1, 1, 1, 0.5), 
      rgba(1, 1, 1, 0.5)
    ),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmqB3SL28nSbaxNGckJ2HHKNI1-k_ohNsoVjJVLhvhG6G4ij9hur-vjKRH0YpEufjZIwI&usqp=CAU);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}