 
body {
    background:
    linear-gradient(
      rgba(1, 1, 1, 0.5), 
      rgba(1, 1, 1, 0.5)
    ),
    url(https://cdn.nohat.cc/thumb/f/720/3bb937b563db4b7085e0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}