/* Styles and css for chatbox popup */

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(0, 0%, 3%);
  position: absolute;
  right: 0px;
  text-align: left;
  top: 50px;
  bottom: 10px;
  width: 320px;
  height: 85%;
  
  }

.App-header {
  background-color: #fcfcfd;
  overflow: visible;
  border-bottom: 3px solid rgb(253, 251, 251);
  width: 100%;
  text-align: center;
  color: rgb(8, 8, 8);  
}

.Messages-list {
  padding: 20px 0;
  max-width: 400px;
  width: 100%;
  margin: 10px auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 5px;
  overflow-wrap: break-word;
 
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}
.Message-content {
  display: inline-block;
}
.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 20px;
  width: 20px;
  border-radius: 60%;
  display: inline-block;
  margin: 2px 10px 10px;

}

.Message-content > .username {
  display: block;
  color: rgb(252, 252, 248);
  font-size: 14px;
  padding-bottom: 4px;

}

.Message-content > .text {
  padding: 8px;
  max-width: 150px;
  margin: 4px;
  border-radius: 12px;
  background-color: rgb(157, 185, 194);
  color: rgb(10, 10, 10);
  font-size: 15px;
  overflow: auto;
  text-align: left;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: rgb(248, 250, 248);
}

form {
  display: flex;
  width: 98%;
  justify-content: space-between;
  max-width: 900px;
  margin: 2px 2px 5px;
  text-align: left;
  overflow-wrap: break-word;
  
}

input {
  padding: 1px;
  font-size: 15px;
  border-radius: 8px;
  border: 2.5px solid rgb(5, 5, 5);
  flex-grow: 1;
  position: bottom;
  text-align: left;
  overflow-wrap: break-word;
  
  
}

button {
  padding: 5px 10px;
  font-size: 15px;
  background-color: rgb(10, 10, 10);
  color: white;
  border: 2.5px solid rgb(5, 5, 5);
  border-radius: 8px;
  margin-left: 2px;
  margin-right: 2px;
}
.emoji-mart {
  position: absolute;
  bottom: 50px;
  right: 10px;
  
}